In [1]:
name = 'David'
age = 18

In [2]:
names =['David', 'Jane']
ages = [18,22]

In [4]:
idx = names.index('David')
ages[idx]

18

In [6]:
names =['David', 'Jane', 'Max']
ages = [18,22, 25]

for idx, a in enumerate(ages):
    if a > 20:
        print(names[idx])
    #print(idx, a)

Jane
Max

## DataFrame

In [7]:
data = [['David', 18], ['Jane', 22], ['Max', 25]]
import pandas
df = pandas.DataFrame(data)

In [8]:
df

       0   1
0  David  18
1   Jane  22
2    Max  25

In [16]:
df.iloc[2] # [row]

0    Max
1     25
Name: 2, dtype: object

In [17]:
df[0]

0    David
1     Jane
2      Max
Name: 0, dtype: object

In [18]:
df[1]

0    18
1    22
2    25
Name: 1, dtype: int64

In [19]:
df[1] > 20

0    False
1     True
2     True
Name: 1, dtype: bool

In [20]:
df[df[1] > 20]

      0   1
1  Jane  22
2   Max  25

In [21]:
import pandas as pd
df = pd.DataFrame([['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M', 35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]])
df

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df.columns = ['name', 'gender', 'age']

In [24]:
df

    name gender  age
0  frank      M   29
1   mary      F   23
2    tom      M   35
3    ted      M   33
4   jean      F   21
5   lisa      F   20

In [25]:
df['gender']

0    M
1    F
2    M
3    M
4    F
5    F
Name: gender, dtype: object

In [26]:
df[['name','gender']]

    name gender
0  frank      M
1   mary      F
2    tom      M
3    ted      M
4   jean      F
5   lisa      F

## Series

In [27]:
import pandas as pd
s = pd.Series([21000, 18900, 18000]) 
s

0    21000
1    18900
2    18000
dtype: int64

In [28]:
pd.Series([21000, 18900, 18000], index = ['Iphone', 'Edge S7', 'HTC M1'])

Iphone     21000
Edge S7    18900
HTC M1     18000
dtype: int64

In [29]:
s = pd.Series({'Iphone':21000,'Edge S7':18900,'HTC M1':18000})

In [30]:
s

Edge S7    18900
HTC M1     18000
Iphone     21000
dtype: int64

In [31]:
s[2]

21000

In [32]:
s[1:3]

HTC M1    18000
Iphone    21000
dtype: int64

In [33]:
s['Iphone']

21000

In [34]:
s[['Iphone', 'Edge S7']]

Iphone     21000
Edge S7    18900
dtype: int64

In [35]:
s > 20000

Edge S7    False
HTC M1     False
Iphone      True
dtype: bool

In [36]:
s[s > 20000]

Iphone    21000
dtype: int64

In [37]:
s[s < 20000]

Edge S7    18900
HTC M1     18000
dtype: int64

In [38]:
cheap = s < 20000
cheap

Edge S7     True
HTC M1      True
Iphone     False
dtype: bool

In [39]:
cheap

Edge S7     True
HTC M1      True
Iphone     False
dtype: bool

In [40]:
s[cheap]

Edge S7    18900
HTC M1     18000
dtype: int64

In [44]:
print('old:',s['Iphone'])
s['Iphone'] =  20000

print('new:',s['Iphone'])

old: 21000
new: 20000

In [45]:
s

Edge S7    18900
HTC M1     18000
Iphone     20000
dtype: int64

In [48]:
type(s)

pandas.core.series.Series

In [46]:
s * 0.8

Edge S7    15120.0
HTC M1     14400.0
Iphone     16000.0
dtype: float64

In [49]:
a =  [100,200,300]
print(a*0.8)

TypeError: can't multiply sequence by non-int of type 'float'

In [50]:
s[s<20000] = s[s<20000] * 0.8

In [51]:
s

Edge S7    15120
HTC M1     14400
Iphone     20000
dtype: int64

In [52]:
s

Edge S7    15120
HTC M1     14400
Iphone     20000
dtype: int64

In [53]:
'Iphone' in s

True

In [54]:
'Mi' in s

False

In [56]:
'Iphone' in s

True

In [57]:
s

Edge S7    15120
HTC M1     14400
Iphone     20000
dtype: int64

In [59]:
s.max()

20000

In [60]:
s.min()

14400

In [61]:
s.mean()

16506.666666666668

In [62]:
s.std()

3046.6593727119107

In [63]:
s.describe()

count        3.000000
mean     16506.666667
std       3046.659373
min      14400.000000
25%      14760.000000
50%      15120.000000
75%      17560.000000
max      20000.000000
dtype: float64

In [65]:
s[['Iphone', 'HTC M1']]

Iphone    20000
HTC M1    14400
dtype: int64

In [66]:
s[['mi', 'HTC M1']]

mi            NaN
HTC M1    14400.0
dtype: float64

In [68]:
s2 = s[['Iphone', 'HTC M1']] + s[['mi', 'HTC M1']]

In [69]:
s2

HTC M1    28800.0
Iphone        NaN
mi            NaN
dtype: float64

In [70]:
s2.notnull()

HTC M1     True
Iphone    False
mi        False
dtype: bool

In [71]:
s2.isnull()

HTC M1    False
Iphone     True
mi         True
dtype: bool

In [73]:
#dir(s)